@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 99 102 241;
  }

  * {
    @apply border-slate-200;
  }

  body {
    @apply bg-white text-slate-900 font-sans antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .gradient-brand {
    @apply bg-gradient-to-r from-brand-600 to-brand-500;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-brand-600 to-indigo-400 bg-clip-text text-transparent;
  }
}
